.card{
    padding: 20px;
    height: 350px;
    
}

.carta{
    padding: 20px;
   
    
}


.card-img-top{
    width: 100px;
    height: 100px;
}

.personajes{
    color:blue;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row{
    padding: 50px;
}

.thumbnail{
     width: 200px;
    text-align: center;
        
       
     padding: 5px;
}

.header{
    padding-left: 20px;
}
.far{
    padding-left: 30px;
}

.fas{
    padding-left: 30px;
    color: red;
    
}

h5{
    color: #b32821;
}